.btn {
	box-sizing: border-box;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	background-color: transparent;
	border: 2px solid #e74c3c;
	border-radius: 0.6em;
	color: #e74c3c;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-self: center;
		-ms-flex-item-align: center;
			align-self: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;

	border-color: #E63946;
	color: #fff;
	box-shadow: 0 0 40px 40px #E63946 inset, 0 0 0 0 #E63946;
	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.ShowLocations {
	margin: 20px;
	padding: 20px;
}

.SelectLocation {
	margin: 15px 0px 0px 0px;
	padding: 10px;
}

.btn:hover, .btn:focus {
	color: #F1FAEE;
	outline: 0;
}

.btn:hover {
	box-shadow: 0 0 10px 0 #E63946 inset, 0 0 10px 4px #E63946;
}
