body {
  max-width: 1920px;
  min-width: 300px;
  margin: 0px;
  padding-bottom: 20px;
  -webkit-tap-highlight-color: transparent;
}

#App {
  width: 100%;
  min-height: 500px;
  font-family: Verdana;
  position: relative;
}

.light {
  background-color: #A8DADC;
  color: #1D3557;
  transition: background-color 0.5s;
}

.dark {
  background-color: #1D3557;
  color: #A8DADC;
  transition: background-color 0.5s;
}

.themeButton {
  border-radius: 8px;
  width: 55px;
  height: 30px;
  border-width: 0px;
  font-size: 20px;
  position: relative;
  bottom: 6px;
  left: 6px;
  cursor: pointer;
}

.WebsiteTitle {
  text-align: center;
  font-size: 50px;
  color: #E63946;
  cursor: default;
}


#expandArrow {
  text-align: center;
}

#more_less_img {
  position: relative;
  top: 0px;
  transition: 0.2s;
}

#more_less_img:hover, #more_less_img:focus {
  cursor: pointer;
  position: relative;
  top: 5px;
  outline: none;
}

.switchButtonContainer {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}



.locationResultFullWidth {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.locationResultBlock {
	width: 300px;
	min-height: 60px;
	background-color: #457B9D;
	color: #F1FAEE;
	border: 4px #F1FAEE solid;
	margin: 10px;
	padding: 15px;
	border-radius: 15px;
	text-align: center;
  box-shadow: 5px 5px 5px black;
  position: relative;
  transition: 0.2s;
}

.locationResultBlock:hover {
  box-shadow: 5px 5px 5px #E63946;
  transition: 0.2s;
}

.Message {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  padding: 5px;
}

.display_name {
  font-size: 20px;
}

.Star {
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.Star:hover, .Star:focus {
  bottom: 10px;
  transition: 0.2s;
  width: 50px;
  height: 50px;
  right: 2.5px;
  outline: none;
}

.switchMode {
  width: 140px;
  height: 30px;
  display: flex;
  position: relative;
  align-items: center;
}

.switchCells {
  width: 70px;
  position: absolute;
  left: 0px;
  text-align: center;
  cursor: pointer;
}

.switchGraph {
  width: 70px;
  position: absolute;
  right: 0px;
  text-align: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

[chosen=true] {
  color: #F1FAEE;
  transition: 0.5s;
}

.switchModeBackground {
  width: 70px;
  height: 30px;
  background-color: #E63946;
  border-radius: 10px;
  position: absolute;
  left: 0px;
  transition: 0.5s;
}

.side_cells {
  left: 0px;
  right: 70px;
}

.side_diagram {
  right: 0px;
  left: 70px;
}

#getLocation {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  right: -20px;
  top: -5px;
}

#getLocation:hover, #getLocation:focus {
  top: -10px;
  transition: 0.2s;
  outline: none;
}
