body {
  max-width: 1920px;
  min-width: 300px;
}

#App {
  width: 100%;
  min-height: 500px;
  font-family: Verdana;
  position: relative;
}

.light {
  background-color: #A8DADC;
  color: #1D3557;
  transition: background-color 0.5s;
}

.dark {
  background-color: #1D3557;
  color: #A8DADC;
  transition: background-color 0.5s;
}

.themeButton {
  border-radius: 8px;
  width: 50px;
  height: 30px;
  border-width: 0px;
  font-size: 20px;
  position: relative;
  bottom: 6px;
  left: 6px;
  cursor: pointer;
}

.WebsiteTitle {
  text-align: center;
  font-size: 50px;
  color: #E63946;
}


#expandArrow {
  text-align: center;
}

#more_less_img:hover {
  cursor: pointer;
  position: relative;
  top: 5px;
}

.switchButtonContainer {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}



.locationResultFullWidth {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.locationResultBlock {
	width: 300px;
	min-height: 60px;
	background-color: #457B9D;
	color: #F1FAEE;
	border: 4px #F1FAEE solid;
	margin: 10px;
	padding: 20px;
	border-radius: 15px;
	text-align: center;
  box-shadow: 5px 5px 5px black;
}

.Message {
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

