/* input */

.container { 
	font-family:'Roboto';
	width:600px; 
	margin:30px auto 0; 
	display:block; 
	background:transparent;
	padding:10px 50px 50px;
}
h2 		 { 
	text-align:center; 
	margin-bottom:50px; 
}
h2 small { 
	font-weight:normal; 
	color:#888; 
	display:block; 
}
  .footer 	{ text-align:center; }
  .footer a  { color:#53B2C8; }
  
  /* form starting stylings ------------------------------- */
.group 			  { 
	position:relative; 
	margin-bottom:45px; 
}
#placeQuery {
	font-size:18px;
	padding:10px 10px 10px 5px;
	display:block;
	width:300px;
	border:none;
	border-bottom:1px solid #F1FAEE;
	background-color: transparent;
}

.inputdark {
	color: #F1FAEE;
}
.inputlight {
	color: #1D3557;
}

#placeQuery:focus { 
	outline:none; 
}
  
/* LABEL ======================================= */
label.inputLabel 				 {
	color:#E63946; 
	font-size:18px;
	font-weight:normal;
	position:absolute;
	pointer-events:none;
	left:5px;
	top:10px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}

/* active state */
#placeQuery:focus ~ label, #placeQuery:valid ~ label 		{
	top:-20px;
	font-size:14px;
	color:#E63946;
}
  
/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
	content:'';
	height:2px; 
	width:0;
	bottom:1px; 
	position:absolute;
	background-color:#457B9D; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}
.bar:before {
	left:50%;
}
.bar:after {
	right:50%; 
}

/* active state */
#placeQuery:focus ~ .bar:before, #placeQuery:focus ~ .bar:after {
	width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
	position:absolute;
	height:60%; 
	width:100px; 
	top:25%; 
	left:0;
	pointer-events:none;
	opacity:0.5;
}

/* active state */
#placeQuery:focus ~ .highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	-moz-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;
}
  
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
to 	{ width:0; background:transparent; }
}
